@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
    background: blanchedalmond;
    color: rgba(0,0,0,1);
    font-family: Arial,sans-serif;
}

p{
    text-align: justify;
    text-indent: 50px;
}

div#interface {
    width: 1150px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.6);
    padding: 10px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 850px;
    top: 40px;
}

header#cabecalho h1 {
    font-family: 'Libre Baskerville';
    font-size: 27pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    margin-bottom: 0px;
    padding: 0px;
}

header#cabecalho h2 {
    font-family: 'Titilium Web',sans-serif;
    font-size: 14pt;
    color: #888888;
    margin-top: 0;
    padding: 3px;
}

section#corpo {
    display: block;
    width: 600px;
    float: left;
    border-right: 0px solid;
    padding-right: 15px;
}

header#cabecalhoartigo h1 {
    font-family: 'Libre Baskerville',sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalhoartigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: white;
    margin: 0px;
}

header#cabecalhoartigo h3 {
    font-size: 11pt;
    color: #606060;
}

.direita {
    text-align: right;
}

article#principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

aside#lateral {
    display: block;
    width: 500px;
    float: right;
}

aside#lateral h1 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
}

footer#rodape a {
    color: #606060;
    text-decoration: none;
    font-size: 12px;
}
/*configuração do menu*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 1025px;
}

nav#menu h1 {
    display: none;
}

nav#menu li {
    text-align: left;
    color: white;
    display: inline-list-item;
    background-color: #dddddd;
    padding: 5px;
    margin: 2px;
    -webkit-transition: backgroud-color 1s;
    -moz-transition: backgroud-color 1s;
    -o-transition: backgroud-color 1s;
    -ms-transition: backgroud-color 1s;
    transition: backgroud-color 1s;
}

nav#menu li:hover {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
}





